<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="true"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Support</directory>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <!-- <text outputFile="php://stdout"/> -->
            <clover outputFile="report/clover-coverage.xml"/>
            <html outputDirectory="report/html-coverage"/>
            <!-- <xml outputDirectory="report/xml-coverage"/> -->
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
    </php>
</phpunit>
