[mysqld]

##########
## GENERAL
##########

port=3306
# autocommit=0
bind-address=0.0.0.0
default_storage_engine=InnoDB
transaction-isolation=REPEATABLE-READ
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_VALUE_ON_ZERO

# general_log=1
# general_log_file=/var/lib/mysql/mysql.log

########################
## Charset and Collation
########################

character_set_server=utf8mb4
init_connect='SET NAMES utf8mb4'
collation_server=utf8mb4_unicode_ci

#########
## MyISAM
#########

key_buffer_size=128M
skip_external_locking=1
myisam_recover_options=FORCE,BACKUP

##################
## Caches / Limits
##################

# Table Cache Performance Settings
table_open_cache=5000
table_definition_cache=4096
table_open_cache_instances=16

########################
## Connections / Network
########################

skip-name-resolve
connect_timeout=10
max_connections=1024
max_connect_errors=10
max_allowed_packet=64M
lock_wait_timeout=3600
interactive_timeout=180
max_user_connections=100
